{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
            <div class="container text-center">
                <div class="row">
                    <div class="col home-title">
                        <span class="">Culinary Journey Around the Globe! Discover the World's Flavours with our Recipes!</span>
                    </div>
                </div>
                <div class="col-12 mb-5 text-success">
                    <hr>
                </div>
                <div class="row meal-cathegory">
                    
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="meal-type-item">
                                <a href="{% url 'breakfast_list' %}">
                                    <div class="meal-img-wrap">
                                        <img src="{% static 'images/breakfast.png' %}" class="meal-type-img"
                                            alt="breakfast">
                                    </div>
                                    <div class="cathegory-label">
                                        <p>Breakfast</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    
                    
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="meal-type-item">
                            <a href="{% url 'main_course_list' %}">
                                <div class="meal-img-wrap">
                                    <img src="{% static 'images/main_course.png' %}" class="meal-type-img" alt="main-course">
                                </div> 
                               <p class="cathegory-label">Main Course</p>
                            </a>
                            </div>
                        </div>
                    
              
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="meal-type-item">
                            <a href="{% url 'soup_list' %}">
                                <div class="meal-img-wrap">
                                    <img src="{% static 'images/soup.png' %}" class="meal-type-img" alt="soup">
                               </div> 
                               <p class="cathegory-label">Soup</p>
                            </a>
                            </div>
                        </div>
                    
                
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="meal-type-item">
                                <a href="{% url 'appetizer_list' %}">
                                <div class="meal-img-wrap">
                                    <img src="{% static 'images/appetizer.png' %}" class="meal-type-img" alt="appetizer">
                               </div>
                                <p class="cathegory-label">Appetizer</p>
                                </a>
                            </div>
                        </div>
                
                   
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="meal-type-item">
                                <a href="{% url 'sides_list' %}">
                                    <div class="meal-img-wrap">
                                        <img src="{% static 'images/sides.png' %}" class="meal-type-img" alt="sides">
                                    </div>
                                <p class="cathegory-label">Sides</p>
                                </a>
                            </div>
                        </div>
                
                    
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="meal-type-item">
                                <a href="{% url 'dessert_list' %}">
                                    <div class="meal-img-wrap">
                                        <img src="{% static 'images/dessert.png' %}" class="meal-type-img" alt="dessert">
                                    </div> 
                                <p class="cathegory-label">Dessert</p>
                                </a>
                            </div>
                        </div>      
                </div>


                <div class="row">
                    <div class="col">
                        <div class="container mt-4">
                            <hr id="search-hr">
                            <div class="form-label">Search a recipe</div>
                            <form id="searchForm" method="post" action="{% url 'search_form' %}">
                                {{ search_form | crispy }}
                                {% csrf_token %}
                                <button id="submitButton" type="submit" class="btn btn-signup btn-lg"> <i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {% if query %}
                            {% if posts %}
                           
                            <h2 id="results-title">Results for "{{ query }}" :</h2>

                            <!-- Inject html from search_results.html template -->

                            {% include 'home/search_results.html' %}
                            
                        {% else %}
                            <h5 id="no-result-msg">No results for "{{ query }}" found.</h3>
                        {% endif %}  
                        {% endif %}
                    </div>
                </div> 
            </div>
        </div>
</div>

{% endblock %}