{% extends "base.html" %}
{% load static %}
{% load ratings %}

{% block content %}

<div class="row">

        {% for recipe in recipes %}
        <div class="col-md-4">
            <div class="card mb-4" h-100>
                <div class="card-content">
                    <div class="image-container">
                        <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                            <img class="card-img-top" src="{% static 'images/default.webp' %}"
                                alt="placeholder"></a>
                        <div class="image-flash">
                            <p class="author">Author: {{ recipe.author }}</p>
                        </div>
                    </div>

                    <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                        <h6 class="recipe-list-title">{{ recipe.title }}</h2>
                        <div>
                        {% ratings recipe template_name="star_ratings/widget.html" %}
                        </div>
                    </a>
                    <hr />
                    <p class="card-text text-muted author-small">{{ recipe.created_on }}
                    </p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
    
</div>


{% endblock %}