{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% load ratings %}

<div class="row">
    <div class="col recipe-container">
        <div class="recipe-header-container">
            <div class="row g-0 justify-content-center">
                <div class="col-lg-6 mb-2 mt-5">
                    <!-- Breadcrumbs Bootstrap -->
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <!-- Logic to wire up the breadcrumb nav link to the view corresponding to the meal type category of the respective recipe. -->  
                            <li class="breadcrumb-item">
                                {% if recipe.meal_type == 'breakfast' %}
                                <a href="{% url 'breakfast_list' %}">{{ recipe.get_meal_type_display }}</a>
                            {% elif recipe.meal_type == 'main_course' %}
                            <a href="{% url 'main_course_list' %}">{{ recipe.get_meal_type_display }}</a>
                            {% elif recipe.meal_type == 'soup' %}
                            <a href="{% url 'soup_list' %}">{{ recipe.get_meal_type_display }}</a>
                            {% elif recipe.meal_type == 'appetizer' %}
                            <a href="{% url 'appetizer_list' %}">{{ recipe.get_meal_type_display }}</a>
                            {% elif recipe.meal_type == 'sides' %}
                            <a href="{% url 'sides_list' %}">{{ recipe.get_meal_type_display }}</a>
                            {% elif recipe.meal_type == 'dessert' %}
                            <a href="{% url 'dessert_list' %}">{{ recipe.get_meal_type_display }}</a>
                            {% endif %}
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ recipe.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row g-0 justify-content-center">
                <div class="col-lg-6">
                    <!-- Recipe title goes in these h1 tags -->
                    <h1 class="card-title">{{ recipe.title }}</h1>
                    <!-- Recipe Tags -->
                    <div class="find-under"><span>Find under:</span> 
                        <a href="{% url 'cuisine_list' recipe.cuisine %}"><button class="find-btn">{{ recipe.cuisine }}</button></a>
                        <a href="{% url 'meal_type_list' recipe.meal_type %}"><button class="find-btn">{{ recipe.get_meal_type_display }}</button></a>
                        <a href="{% url 'author_list' recipe.author %}"><button class="find-btn">{{ recipe.author|title }}</button></a>
                    </div>
                    <!-- Recipe author goes before | created date goes after -->
                    <p>Author: {{ recipe.author|title }} | {{ recipe.created_on }}</p>
                    <!-- Star Ratings Section -->
                    <div id="recipe-star-ratings">{% ratings recipe template_name="star_ratings/widget.html" %}</div>

                    <!-- Comments count and go-ot-recipe button -->
                    <div class="internal-nav"> 
                        <a href="#reviews-section" class="reviews-link"> 
                            <i class="fa-solid fa-comment"></i>
                            &nbsp; Reviews: {{ reviews_count }} &nbsp;
                        </a>
                        <a href="#recipe">
                            <button>Go to recipe &darr;</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-success">
            <hr>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-6 card-text recipe-description">
                <!-- Recipe description -->
                <p>{{ recipe.description }}</p>
            </div>
        </div>

        <!-- Main Image -->
        <div class="row g-0 justify-content-center">
            <div class="col-lg-6 recipe-image">
                {% if "placeholder" in recipe.recipe_image.url %}
                <img src="{% static 'images/default.webp' %}" class="scale" width="100%" alt="placeholder">
                {% else %}
                <img class="card-img-top rounded" src="{{ recipe.recipe_image.url }}" width="100%" alt="{{ recipe.title }}"></a>
                {% endif %}
            </div>
        </div>


        <div class="container">
            <div class="row g-0 justify-content-center">
                <div class="col-lg-6 card" id="recipe-detail-card">              
                    <div class="card-body recipe-display" id="recipe">
                        <div class="small-img-container">
                            {% if "placeholder" in recipe.recipe_image.url %}
                            <img src="{% static 'images/default.webp' %}" class="recipe-card-img" alt="placeholder"></div>
                            {% else %}
                            <img class="card-img-top recipe-card-img" src="{{ recipe.recipe_image.url }}" width="100%" alt="{{ recipe.title }}"></a>
                            {% endif %}
                           
            
                        <div class="card-header">
                            <h2 class="centered-text">{{ recipe.title }}</h2>
                            <div class="rating-info">
                                <span class="details-label">Rated:</span> &nbsp;
                                <div>{% ratings recipe template_name="star_ratings/widget_3.html" %}
                                </div> 
                            </div>
                            <hr>
                            <div class="recipe-details">
                                <div class="recipe-time">
                                    <i class="fa-solid fa-clock"></i>
                                    <span class="details-label">Total Time: </span> <span>{{recipe.total_time}}</span>
                                </div>
                                <div class="recipe-servings">
                                    <i class="fa-solid fa-utensils"></i>
                                    <span class="details-label">Servings: </span> <span> {{ recipe.servings }}</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card-text">
                            <h4>Ingredients:</h4>
                            <div class="recipe-ingredients"> 
                                <!-- Itterate through the ingredient list to add Bootstrap checkboxes to each ingredient item. -->
                                {% for ingredient in ingredients %}
                                {% if ingredient %}                 
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{ ingredient | safe }} 
                                    </label>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                        <hr>
                        <div class="card-text">
                            <h4>Instructions:</h4>
                            <div class="recipe-instructions">                         
                                {{ recipe.instructions | safe }} 
                            </div>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="review-content">
        <div class="row g-0 justify-content-center">
            <div class="col-lg-6 card">
                <div class="card-body">

                    {% if user.is_authenticated %}
                    <div class="review-form-header">
                        <h3>Leave a review:</h3>
                        <div class="review-form-info">
                            <p>Posting as: <span style="color: #c7460b;">{{ user.username }}</span></p>
                            <div>{% ratings recipe template_name="star_ratings/widget_2.html" %}</div>
                        </div>
                    </div>

                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ review_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <div>
                        <p style="text-align: center; font-size: 20px; ">Log in to leave a review</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Displaying Reviews -->
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-5">
            <div class="reviews-header" >
                <i class="fa-solid fa-comment"></i> &nbsp; &nbsp;
                <h3 id="reviews-section">Reviews:</h3>
            </div>
            <div class="text-success">
                <hr>
            </div>
            {% for review in reviews %}
            <div class="review-container">
                <p class="red-title">
                    {{ review.author }}'s review:
                </p>
                    <div>
                        {{ review.comment | linebreaks }}
                    </div>
                    <div class="review-date">
                        {{ review.created_on }}
                    </div>
            
            </div>
            {% endfor %}    

        </div>
    </div>
    

{% endblock content %}
