{% block rating_detail %}
    
    {% block rating_user %}
    <div class="star-ratings-rating-user">You Rated: <span class='star-ratings-rating-value' data-when-null="Not rated">{% if user_rating %}{{ user_rating.score }}&nbsp; /5 stars{% else %}Not rated{% endif %}</span></div>
    {% if not user.is_authenticated and not anonymous_ratings and not read_only %}
        <p>Please log in to rate.</p>
    {% endif %}
    {% endblock rating_user %}
    <div class="star-ratings-errors"></div>
    {% block rating_clearable %}
        {% if clearable %}
            <div class="star-ratings-clear star-ratings-clear-{{user_rating|yesno:'visible,hidden'}}">
                <form action="{% url 'ratings:rate' rating.content_type_id rating.object_id %}" class="star-ratings-rate-action" method="post">
                {% csrf_token %}
                <input type="hidden" value="1" name="clear">
                <input type="hidden" value="{{ request.path }}" name="next">
                <button type="submit" class="star-ratings-rating-clear">Clear</button>
                </form>
            </div>
        {% endif %}
    {% endblock %}
    {% endblock rating_detail %}