{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col recipe-container">
        <div class="recipe-header-container">
            <div class="row g-0 justify-content-center">
                <div class="col-lg-6 mb-2 mt-5">
                    <!-- Breadcrumbs Bootstrap -->
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">FlavourFusion Network</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                            
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row g-0 justify-content-center">
                <div class="col-lg-6">
                    <div class="about-header">
                    <!-- Page title goes in these h1 tags -->
                    <h1 class="card-title">About</h1>
                    {% if "placeholder" in recipe.recipe_image.url %}
                    <img src="{% static 'images/default.webp' %}" class="profile-img" alt="placeholder image">
                    {% else %}
                    <img class="profile-img" src="{{ about.profile_image.url }}" alt="{{ about.name }}">
                    {% endif %}
                    </div>
                    <!-- About author goes before | created date goes after -->
                    <p>Author: {{ about.name }} | created on: {{ about.date_created }}</p>
                </div>
            </div>
            <div class="row g-0 justify-content-center">
                <div class="col-lg-6 internal-nav"> 
                    <a href="#contact-us" class="jumpto">
                        <span>Contact Us &darr;</span>
                    </a>
                </div>
            </div>

        </div>
        <div class="text-success">
            <hr>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-6 card-text recipe-description">
                <!-- About page content -->
                <p>{{ about.content | safe }}</p>
            </div>
        </div>

        <div class="row g-0 justify-content-center">
            <div class="col-lg-6 text-right">

              <!-- Updated on field goes in here -->
        
              <p><em>Last Updated on: {{ about.date_updated }}</em></p>
            </div>
          </div>

        <!-- Main Image -->
        <div class="row g-0 justify-content-center">
            <div class="col-lg-6 sm-12 recipe-image">
                
                <img src="{% static 'images/default_user.jpg' %}" class="rounded about-img" alt="placeholder image">
              
               
            </div>
        </div>

        <!-- recipe post request form -->
        <div class="row g-0 mt-1 mb-5 justify-content-center">
            <div class="col-lg-6 sm-12 text-right">
                <h2 id="contact-us" class="form-title">Let's add more flaovours to our virtual international kitchen!</h2>
                <p class="form-description">Join us! If you have a recipe that you are fond of and you want to share it with us allowing users aorund 
                    the world to experience the taste of your country, get in touch, sent us a message.
                </p>
                <form method="post" class="request-form">
                    {{ request_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" id="submitBtn" class="btn btn-signup btn-lg">Submit</button>
                </form>           
            </div>
        </div>   
    </div>

</div>
{% endblock content %}