{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="row">
    <div class="col recipe-container">
        <div class="recipe-header-container">
            <div class="row g-0 justify-content-center">
                <div class="col-lg-6 mb-2 mt-5">
                    <!-- Breadcrumbs Bootstrap -->
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">FlavourFusion Network</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                            
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row g-0 justify-content-center">
                <div class="col-lg-6">
                    <!-- Page title goes in these h1 tags -->
                    <h1 class="card-title">About</h1>
                    <!-- About author goes before | created date goes after -->
                    <p>Author: {{ about.name }} | {{ about.date_created }}</p>
            
                </div>
            </div>
        </div>
        <div class="text-success">
            <hr>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-6 card-text recipe-description">
                <!-- About page content -->
                <p>{{ about.content }}</p>
            </div>
        </div>
        <div class="row g-0 justify-content-end">
            <div class="col text-right">
              <!-- Updated on field goes in here -->
        
              <p class="text-end"><em>Last Updated on: {{ about.date_updated }}</em></p>
            </div>
          </div>

        <!-- Main Image -->
        <div class="row g-0 justify-content-center">
            <div class="col-lg-6 sm-12 recipe-image">
                <img src="{% static 'images/default.webp' %}" class="scale" alt="placeholder">
            </div>
        </div>



</div>
{% endblock content %}