body {
    background-color: #F9FAFC;
}

/* Styles for the home page */

.home-title {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: 30px;
    color: #198754;
}

.header-nav {
    background-color: rgb(247, 238, 226, 0.7);

}

.nav-link  {
    font-size: 20px;
}

.signin-msg {
    margin-top: 90px;
}

.meal-type-item {
    width: 100%;
    max-width: 100%;
}

.meal-type-img {
    max-width: 100%;
    border-radius: 50px;
}

.meal-cathegory {
    margin: 0 10px 0 10px;
}

.cathegory-label {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;    
    color: #c7460b;
}

.meal-type-item a {
    text-decoration: none;
}

.meal-type-item:hover {
    opacity: 0.6;
}

/* Search Form */

#search-hr {
    margin: 2rem 0;
    color: #c7460b;
    opacity: 0.4;;
}

.form-label {
    margin-bottom: 0.9rem;
    width: 90%;
    font-size: 20px;
    color: #9e9e9e;
}

#searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#div_id_query {
    margin-right: 1rem;
    width: 50%;
}

#searchForm input {
    height: 50px;
    font-size: 25px;
    color: #9e9e9e;
    border: 1.5px solid #c7460b;
    width: 100%;
}

#searchForm input:hover {
    background-color: rgb(236, 235, 235);
}

#submitButton, #submitBtn {
    margin-bottom: 1rem;
    background-color: #c7460b;
    color: white;  
}

#submitButton:hover, #submitBtn:hover {
    background-color: rgb(255, 252, 249);
    color: #c7460b;
    border: 1.5px solid #c7460b;
}

#submitButton i {
    font-size: 22px;
}

/* Styles for search results */

#results-title {
    color: #9E9E9E;
}

.container-search-results {
    margin: 25px 25px 20px 0;
    background-color: rgb(255, 252, 249);
    border: 1px solid #9e9e9e;
    border-radius: 10px;

}

.container-search-results:hover {
    opacity: 0.6;
}

.container-search-results img {
    border-radius: 10px;
}

.search-wrapper:last-child {
    margin-bottom: 40px;
}

#no-result-msg {
    margin-bottom: 2rem;
    color: #9E9E9E;
}

#clearBtn {
    border: 1px solid #9E9E9E;
    border-radius: 3PX;
    color: #9E9E9E;
    padding: 3px 12px;
}

#clearBtn:hover {
    opacity: 0.6;
}


/* Styles for recipe_detail page */
.breadcrumb-item a, .breadcrumb-item.active {
    color: #9E9E9E;
    font-size: 18px;    
}

.breadcrumb-item a:hover,
.reviews-link:hover {
    color: #6d88a7;
}

.find-under {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.find-under span {
    font-weight: bold;
    margin-right: 5px;
}

.find-btn {
    background-color: #c7460b;
    color: #fff;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    padding: 1px 6px;
}

.find-btn:hover,
.jumpto:hover {
    background-color: #6d88a7;
    color: white;
}

.jumpto {
    background-color: #f0f0f0;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    padding: 1px 7px;
}

.recipe-container{
    padding-left: 20px;
}
.card {
    border: 2px gray solid;
    margin: 25px 0 45px 0;
    background-color: #fffdf5;
}

#recipe-detail-card  {
    background-color: cornsilk;
    margin-bottom: 8px;
}

.recipe-description p {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}

.recipe-image {
    margin-bottom: 5.5rem;
}

.card-text {
    font-size: 20px;
}

.card-header {
    background-color: rgb(247, 238, 226);
    padding: 5px;
}

.recipe-display {
    position: relative;
}

.recipe-card-img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -2%;
    left: 36%;
    border: 5px solid #c7460b;
    border-radius: 50%;
}

.rounded {
    border-radius: 5px;
}


.card-body h2 {
    font-size: 40px;
    padding: 35px;
    margin-top: 65px;
}

.card-body h4 {
    font-size: 26px;
    padding-top: 35px;
    padding-left: 15px;
}

.recipe-ingredients, .recipe-instructions {
    padding: 35px 0 50px 10px;
}

.recipe-instructions li {
    margin-bottom: 22px;
    
}

.recipe-instructions ol li::marker {
    font-weight: bolder;
    color: #9E9E9E;
}

.recipe-details {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.details-label {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
    color: #9E9E9E;
}

.recipe-details i {
    margin-right: 10px;
}

.card-title{
    font-size: 50px;
    margin-bottom: 10px;
}

.centered-text {
    text-align: center;
}

/* Styles for reviews section */

.reviews-link {
    color: #9E9E9E;
    font-size: 20px;
}

.internal-nav {
    display: flex;
    justify-content: space-between;
}

.internal-nav button:hover {
    background-color: #6d88a7;
    color: #fff;
}

.reviews-header {
    display: flex;
    align-items: center;
}

.reviews-header i {
    font-size: 28px;
    color: #c7460b;
}

.review-form-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
}

.review-date {
    font-size: 11px;
}

.review-form-info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.rating-info {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.review-container {
    background-color: rgb(236, 235, 235);
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px 25px;
}

#commentForm {
    margin-top: 1.3em;
}

#login-mesg p {
    text-align: center;
    font-size: 20px;
}

/* Styles for recipe page */

.categories-wrapper {
    width: 50%;
}

#big-title{
    font-size: 50px;
}

.search-by-label{
    font-size: 20px;
    margin-bottom: 15px;

}

.recipe-list-title {
    padding-top: 5px;
    font-size: 22px;
}

.jump-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-btn{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #c7460b;
    border: none;
    border-radius: 3px;
    text-decoration: none;
}

.category-btn:hover {
    background-color: #6d88a7;
}

.card-content {
    padding: 10px;
}

.author-small {
    font-size: 15px;
}

.all-recipes-title {
    color: #9E9E9E;
}

.order-by-img {
    width: 150px;
    height: 150px;
    border: 5px solid #c7460b;
    border-radius: 50%;
}

.small-label {
    font-size: 20px;
    margin-top: 10px;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



/* Styles for Registration pages */

.red-title, .user-name {
    color: #c7460b;
}

.btn-signup,
.btn-edit {
    background-color: #c7460b;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #c7460b;
}

.signup li::marker {
    color: #c7460b;
}

.register-container {
    padding-bottom: 3rem;
}

.display-username {
    color: #c7460b;
}



/* Styles for About page */

.about-header {
    display: flex;
    justify-content: space-between;
}

.profile-img {

    width: 130px;
    height: 130px;
    border: 5px solid #c7460b;
    border-radius: 50%;
}

.about-img {
    width: 100%;
}

.form-title {
    margin-bottom: 30px;
}

.form-description {
    margin-bottom: 30px;
}

#id_email:hover, #id_name:hover, #id_message:hover {
    background-color: rgb(236, 235, 235);
}


/* Style for footer */
.dark-bg {
    background-color: #a04518;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #6d88a7;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #c7460b;
}


.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.main-bg {
    background-color: #F9FAFC;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}


.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}


/* Styles for small screens 576px wide and smaller */

@media only screen and (max-width: 576px) {
    .recipe-details {
        display: block;
    }
    .categories-wrapper {
        width: 80%;
    }
}

/* Styles for pnly for large screens */

@media only screen and (min-width: 768px) {
    .register-container {
        margin-top: 5rem;
        border: 1px solid #c7460b;
        padding: 2rem;
        border-radius: 10px;
        background-color: rgb(255, 252, 249);
    }
}  